<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resource.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @resource.age %>
</p>

<%= link_to 'Edit', edit_person_path(@resource) %> |
<%= link_to 'Back', people_path %>
