<p id="notice"><%= notice %></p>

<p>
  <strong>Blog:</strong>
  <%= @resource.blog_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @resource.content %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@resource) %> |
<%= link_to 'Back', blog_posts_path %>
